<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="app.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
    <title>Document</title>
    <style>
        [v-cloak]{
            display: none;
        }
        ul {
            list-style: none;
        }
        .done{
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div id="app">
   <input type="text" v-model="newItem" name="" id="">
   <button @click.prevent="addItem">追加</button>
   <input type="text" v-model="query">検索
   <ul v-cloak>
       <li v-for="(todo, index) in filteredList">
           <input type="checkbox" v-model="todo.isDone" name="" id="">
           <span :class="{done : todo.isDone}">{{ todo.item}}</span>
           <button @click.prevent="deleteItem">削除</button>
       </li>
   </ul>
    </div>
 <script src="./Vue.js"></script>
</body>
</html>